/**
 * Custom shortcodes.
 */

.dm3-collapse-trigger a {
	display: block;
	padding: 10px;
	border: 1px solid #ddd;
	background-color: #fff;
	text-decoration: none;
}

.dm3-collapse-inner {
	padding: 11px;
	background-color: #fff;
}

/**************************
 * Buttons
 **************************/
/* DEFAULT */
.dm3-btn {
	display: inline-block;
	padding: 8px 16px;
	background-color: #ddd;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#ddd));
	background-image: -moz-linear-gradient(top, #eee 0%, #ddd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#DDDDDD',GradientType=0);
	border: 1px solid #c0c0c0;
	border-top: 1px solid #c5c5c5;
	vertical-align: middle;
	cursor: pointer;
	color: #555;
	line-height: 16px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 1px 0 #f9f9f9;
	box-shadow: 0 1px 0 0 #f9f9f9 inset, 0 1px 5px #ddd;
	-webkit-transition: box-shadow 0.1s;
}

p .dm3-btn {
	margin-bottom: 5px;
}

.dm3-btn:active {
	border: 1px solid #c0c0c0;
	box-shadow: 0 2px 8px 0 #c0c0c0 inset, 0 1px 0 0 #eee;
}

.dm3-btn:hover {
	color: #555;
}

.dm3-btn::-moz-focus-inner {
	padding: 0;
	border: 0
}

button.dm3-btn {
	margin: 0;
}

.dm3-btn-small {
	padding: 4px 10px;
	font-size: 12px;
}

.dm3-btn-large {
	padding: 12px 24px;
	line-height: 20px;
	font-size: 18px;
}


/* BLUE */
.dm3-btn-blue {
	background-color: #4381DE;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #71AAFF), color-stop(100%, #4381DE));
	background-image: -moz-linear-gradient(top, #71AAFF 0%, #4381DE 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#71AAFF', endColorstr='#4381DE',GradientType=0);
	border: 1px solid #3465AD;
	border-top: 1px solid #3E78CF;
	color: #fff;
	text-shadow: 0 -1px 1px #305DA1;
	box-shadow: inset 0 1px 0 0 #B0CFFF, 0 1px 5px #ddd;
}

.dm3-btn-blue:active {
	border: 1px solid #3465AD;
	box-shadow: inset 0 0 8px 2px #4381DE, 0 1px 0 0 #eee;
}

.dm3-btn-blue:hover {
	color: #fff;
}


/* RED */
.dm3-btn.dm3-btn-red {
	background-color: #CF332A;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FA685F), color-stop(100%, #CF332A));
	background-image: -moz-linear-gradient(top, #FA685F 0%, #CF332A 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FA685F', endColorstr='#CF332A',GradientType=0);
	border: 1px solid #AB2A23;
	border-top: 1px solid #CF332A;
	color: #fff;
	text-shadow: 0 -1px 1px #85201B;
	box-shadow: inset 0 1px 0 0 #F2ADA8, 0 1px 5px #ddd;
}

.dm3-btn-red:active {
	border: 1px solid #9E2720;
	box-shadow: inset 0 0 8px 2px #CF332A, 0 1px 0 0 #eee;
}

.dm3-btn-red:hover {
	color: #fff;
}


/* GREEN */
.dm3-btn-green {
	background-color: #8dc90e;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bcec58), to(#8dc90e));
	background-image: -moz-linear-gradient(top, #bcec58 0%, #8dc90e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bcec58', endColorstr='#8dc90e',GradientType=0);
	border: 1px solid #7fb60b;
	border-top: 1px solid #8cc80d;
	color: #fff;
	text-shadow: 0 -1px 0 #7aae0c;
	box-shadow: 0 1px 0 0 #d4ff79 inset, 0 1px 5px #ddd;
}

.dm3-btn-green:active {
	border: 1px solid #7fb60b;
	box-shadow: 0 2px 8px 0 #8dc90e inset, 0 1px 0 0 #eee;
}

.dm3-btn-green:hover {
	color: #fff;
}


/* GOLD */
.dm3-btn-gold {
	background-color: #ffb501;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffdf30), to(#ffb501));
	background-image: -moz-linear-gradient(top, #ffdf30 0%, #ffb501 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdf30', endColorstr='#ffb501',GradientType=0);
	border: 1px solid #d2b700;
	border-top: 1px solid #e4c600;
	color: #fff;
	text-shadow: 0 -1px 0 #d1b601;
	box-shadow: 0 1px 0 0 #fff7cd inset, 0 1px 5px #ddd;
}

.dm3-btn-gold:active {
	border: 1px solid #d2b700;
	box-shadow: 0 2px 8px 0 #ffb501 inset, 0 1px 0 0 #eee;
}

.dm3-btn-gold:hover {
	color: #fff;
}


/* ORANGE */
.dm3-btn-orange {
	background-color: #e46e05;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffb68a), to(#e46e05));
	background-image: -moz-linear-gradient(top, #ffb68a 0%, #e46e05 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb68a', endColorstr='#e46e05',GradientType=0);
	border: 1px solid #e46e05;
	border-top: 1px solid #ff8e32;
	color: #fff;
	text-shadow: 0 -1px 0 #e46e05;
	box-shadow: 0 1px 0 0 #ffd5ba inset, 0 1px 5px #ddd;
}

.dm3-btn-orange:active {
	border: 1px solid #e46e05;
	box-shadow: 0 2px 8px 0 #e46e05 inset, 0 1px 0 0 #eee;
}

.dm3-btn-orange:hover {
	color: #fff;
}


/* LIGHT BLUE */
.dm3-btn-light-blue {
	background-color: #0ccdf0;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4defff), to(#0ccdf0));
	background-image: -moz-linear-gradient(top, #4defff 0%, #0ccdf0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4defff', endColorstr='#0ccdf0',GradientType=0);
	border: 1px solid #0cb5d4;
	border-top: 1px solid #1bd5f4;
	color: #fff;
	text-shadow: 0 -1px 0 #11a4bf;
	box-shadow: 0 1px 0 0 #dafbff inset, 0 1px 5px #ddd;
}

.dm3-btn-light-blue:active {
	border: 1px solid #0cb5d4;
	box-shadow: 0 2px 8px 0 #0cb5d4 inset, 0 1px 0 0 #eee;
}

.dm3-btn-light-blue:hover {
	color: #fff;
}


/* PURPLE */
.dm3-btn-purple {
	background-color: #d16bd2;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f7a4ff), to(#d16bd2));
	background-image: -moz-linear-gradient(top, #f7a4ff 0%, #d16bd2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7a4ff', endColorstr='#d16bd2',GradientType=0);
	border: 1px solid #d16bd2;
	border-top: 1px solid #ea7deb;
	color: #fff;
	text-shadow: 0 -1px 0 #d16bd2;
	box-shadow: 0 1px 0 0 #fcd0ff inset, 0 1px 5px #ddd;
}

.dm3-btn-purple:active {
	border: 1px solid #d16bd2;
	box-shadow: 0 2px 8px 0 #d16bd2 inset, 0 1px 0 0 #eee;
}

.dm3-btn-purple:hover {
	color: #fff;
}

/**************************
 * Team member
 **************************/
.dm3-member-block {
	margin-bottom: 20px;
	text-align: center;
}

.dm3-member-image {
	margin-bottom: 10px;
	line-height: 0;
}

body .dm3-member-title h2 {
	margin: 0;
	font-size: 18px;
	line-height: 22px;
	color: #555;
}

body .dm3-member-title p {
	margin: 0;
	color: #919191;
}

.dm3-member-description {
	margin: 10px 0;
}

.dm3-member-social a {
	margin: 0 5px;
	color: #555;
	text-decoration: none;
}

.dm3-member-social a:hover {
	color: #000;
}

/**************************
 * Price table
 **************************/

.dm3-pricing {
	padding: 0;
	margin: 30px 0 20px 0;
}

.dm3-pricing:after {
	display: table;
	content: '';
	clear: both;
}

.dm3-pricing-column {
	margin-right: -1px;
	float: left;
	position: relative;
	word-wrap: break-word;
}

.dm3-pricing-2 .dm3-pricing-column {
	width: 50.03%;
}

.dm3-pricing-3 .dm3-pricing-column {
	width: 33.39%;
}

.dm3-pricing-4 .dm3-pricing-column {
	width: 25.07%;
}

.dm3-pricing-5 .dm3-pricing-column {
	width: 20.08%;
}

/* Header */
.dm3-pricing-header {
	padding: 15px 10px;
	border: 1px solid #ddd;
	text-align: center;
}

body .dm3-pricing-header h2 {
	margin: 0;
	font-size: 20px;
	line-height: 24px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
}

/* Price */
.dm3-pricing-price {
	padding: 15px 10px;
	border: 1px solid #ddd;
	border-top: 0;
	text-align: center;
}

.dm3-pricing-price span {
	font-weight: bold;
	font-size: 24px;
	line-height: 26px;
}

.dm3-pricing-price i {
	color: #999;
}

/* Options */
.dm3-pricing-options {
	border: 1px solid #ddd;
	border-top: 0;
}

body .dm3-pricing-options ul {
	margin: 0;
	padding: 0;
}

.dm3-pricing-options li {
	padding: 10px;
	margin: 0 !important;
	list-style: none;
	text-align: center;
}

.dm3-pricing-options li + li {
	border-top: 1px dotted #ddd;
}

/* Actions */
.dm3-pricing-actions {
	padding: 15px 10px;
	border: 1px solid #ddd;
	border-top: 0;
	text-align: center;
}

.dm3-pricing-button {
	display: inline-block;
	padding: 5px 15px;
	color: #fff;
	background-color: #999;
	text-decoration: none;
}

.dm3-pricing-button:hover {
	color: #fff;
}

/* Featured */
.dm3-pricing-featured {
	margin-top: -19px;
	z-index: 2;
	box-shadow: 0 0 0 4px #f0f0f0;
}

.dm3-pricing-featured .dm3-pricing-header {
	padding: 25px 10px;
}

.dm3-pricing-featured .dm3-pricing-header h2 {
	font-size: 26px;
	line-height: 30px;
}

.dm3-pricing-featured .dm3-pricing-price {
	padding: 20px 10px;
}

.dm3-pricing-featured .dm3-pricing-button {
	background-color: #333;
}

@media screen and (max-width: 767px) {
	.dm3-pricing-column {
		width: auto !important;
		float: none;
	}

	.dm3-pricing-column + .dm3-pricing-column {
		margin-top: 20px;
	}

	.dm3-pricing-featured {
		margin-top: 0;
	}

	.dm3-pricing-featured .dm3-pricing-actions {
		padding: 20px 10px;
	}
}
