/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none !important;}

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Custom Theme
*********************************/
.flex-direction-nav {
  margin-bottom: 0 !important;
}

.post .slides,
.hentry .slides {
  margin: 0;
}

.flexslider {
  margin-bottom: 20px;
  position: relative;
}

.flexslider .slides > li {
  position: relative;
  -webkit-backface-visibility: visible;
}

.flex-direction-nav {
  font-size: 0;
  line-height: 0;
}

.flex-direction-nav a {
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  z-index: 10;
  top: 100%;
  margin-top: -30px;
  background-color: #ddd;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -o-border-radius: 24px;
  border-radius: 24px;
}

.flex-prev {
  left: 6px;
}

.flex-next {
  right: 6px;
}

.flex-direction-nav span {
  display: block;
  width: 0;
  height: 0;
  border: 7px solid;
  border-color: transparent #0689c0 transparent transparent;
  position: absolute;
  top: 5px;
}

.flex-prev span {
  left: 0;
}

.flex-next span {
  right: 0;
  border-color: transparent transparent transparent #0689c0;
}

.flex-control-nav {
  padding: 12px 0;
  margin: 0 !important;
  text-align: center;
  line-height: 0;
  font-size: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top: 0;
  position: relative;
}

.flex-control-nav:after {
  display: block;
  content: '';
  position: absolute;
  left: 2px;
  right: 2px;
  bottom: -4px;
  border: 1px solid #ddd;
  height: 2px;
  background: #fff;
}

.flex-control-nav li {
  display: inline-block;
  margin: 0 6px;
}

.flex-control-nav a {
  display: inline-block;
  width: 10px;
  height: 10px;
  text-indent: -9999px;
  background: #ccc;
  border-radius: 10px;
  cursor: pointer;
}

body .flex-control-nav .flex-active {
  background: #0689c0;
}


.flexslider-caption {
  padding: 20px 20px 10px 20px;
  position: absolute;
  z-index: 10;
  left: 20px;
  bottom: 20px;
  max-width: 40%;
  overflow: hidden;
  background: url("../images/transparent-black.png") repeat 0 0;
  color: #fff;
}

.flexslider-caption h2 {
  font-size: 30px;
  line-height: 34px;
  color: #fff;
}

.flexslider-caption p {
  margin-bottom: 10px;
}

.flexslider-caption > a {
  display: block;
  margin-bottom: 10px;
  color: #fff;
}

.flexslider-caption > a:hover {
  color: #fff;
  text-decoration: underline;
}


/* Carousel */
.flexslider-carousel {
  margin-bottom: 20px;
}

.flexslider-carousel .flex-control-nav {
  border: 0;
}

.flexslider-carousel .flex-control-nav:after {
  display: none;
}


/* Logos carousel */
.flexslider-logos .slides li {
  margin-right: 20px;
  width: 220px;
  padding-bottom: 3px;
  text-align: center;
  position: relative;
}

.flexslider-logos .slides a {
  display: block;
  height: 84px;
  line-height: 84px;
  border: 1px solid #ddd;
  position: relative;
}

.flexslider-logos .slides a:after {
  display: block;
  content: '';
  position: absolute;
  left: 2px;
  right: 2px;
  bottom: -4px;
  border: 1px solid #ddd;
  height: 2px;
  background: #fff;
}

.flexslider-logos .slides img {
  display: inline;
  max-width: 100%;
  width: auto;
  vertical-align: middle;
}


/* Posts carousel */
.flexslider-posts {
  background-color: transparent;
}

.flexslider-posts .slides li {
  width: 220px;
  height: auto;
  margin-right: 20px;
  padding: 0 0 3px 0;
  line-height: 22px;
  background-color: transparent;
  text-align: center;
}

.flexslider-posts .image {
  display: block;
  line-height: 0;
}

.flexslider-posts .description {
  padding: 20px 10px;
  border: 1px solid #ddd;
  border-top: 1px solid #fff;
  position: relative;
}

.flexslider-posts .description:after {
  display: block;
  content: '';
  position: absolute;
  left: 2px;
  right: 2px;
  bottom: -4px;
  border: 1px solid #ddd;
  height: 2px;
}

.flexslider-posts .description h2 {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 22px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.flexslider-posts .description .meta {
  margin-top: 5px;
}

.flexslider-posts .description .meta a {
  display: inline-block;
  padding: 0 6px;
  font-size: 11px;
  line-height: 18px;
  color: #919191;
  background: #eee;
}

.flexslider-posts .description .meta a:hover {
  color: #555;
}

.flexslider-posts .description h2 a {
  color: #000;
}

.flexslider-posts .description h2 a:hover {
  color: #0689c0;
}

.flexslider-posts .description p {
  margin-bottom: 0;
  margin-top: 5px;
}


.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
/*.flex-direction-nav .flex-prev.flex-disabled span {
  border-color: transparent #919191 transparent transparent;
}

.flex-direction-nav .flex-next.flex-disabled span {
  border-color: transparent transparent transparent #919191;
}*/


@media only screen and (max-width: 959px) {
  .flexslider-caption {
    max-width: 60%;
  }
}

@media only screen and (max-width: 767px) {
  .flexslider-carousel .flex-direction-nav {
    display: block;
  }

  .flexslider-caption {
    padding: 10px 10px 5px 10px;
    max-width: 100%;
    left: 0;
    bottom: 0;
  }

  .flexslider-caption h2 {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
  }

  .flexslider-caption p,
  .flexslider-caption > a {
    margin-bottom: 5px;
    font-size: 11px;
    line-height: 16px;
  }
}